/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-create-block-caraousal-slider-block {
	display: flex;
	display:-ms-flexbox;
	align-items: center;
	-ms-flex-align:center;
	overflow-x: scroll;

	.block-editor-inner-blocks{

		.block-editor-block-list__layout {
			display:-ms-flexbox;
			display:flex;
			-ms-flex-wrap:nowrap;
			flex-wrap:nowrap;
			padding:2px;

			[data-type='create-block/carousal-single-slide-block'] {
				flex: 1;
				-ms-flex-preferred-size: 100%;
				flex-basis: 100%;
				max-width: 100%;
				min-width: 100%;
				margin-top: 0 !important;
				margin-bottom: 0 !important;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}
